<div class="container-cards">
<div class="text-center" style="color:$Gray; margin-top: 30px;">
  <h2> ALL RAFFLES </h2>
  </div>
    <div class="dropdown">
      <button  style="background: none; margin-top:-80px; border-width: 0px; margin-left: 50px;", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-filter" style="color: #2bde73">Category </i>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel" style="left: 15px";>
        <% Raffle::CATEGORIES.each do |category_name| %>
          <li><%= link_to category_name, browse_path(category: category_name) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= render 'shared/card4' %>
</div>
