  <%= render 'shared/banner' %>
  <%= render 'shared/card2' %>
  <div class="gray-line"></div>
  <%= render 'shared/card' %>
  <div class="gray-line"></div>
  <%= render 'orders/winnercard' %>

<div class="container-how-it-works">
  <h1 class="howworkstitle">How does Rafflrs work?</h1>
    <div class="count" style="margin-left: 70px;"><span>1</span></div>
    <div class="count" style="margin-top: -250px; margin-left: 330px"><span>2</span></div>
    <div class="count" style="margin-top: -250px; margin-left: 590px"><span>3</span></div>
    <div class="count" style="margin-top: -250px; margin-left: 850px"><span>4</span></div>
      <h3 style="color: white; font-weight: bold; margin-left: 200px;">Sign Up</h3>
      <h3 style="color: white; font-weight: bold; margin-left: -250px; margin-top: -36px; text-align: center;">Find your <br>dream product</h3>
      <h3 style="color: white; font-weight: bold; margin-left: 265px; margin-top: -62px; text-align: center;">Buy a ticket <br>for only £1</h3>
      <h3 style="color: white; font-weight: bold; margin-left: 790px; margin-top: -62px; text-align: center;">You can be the<br>lucky winner!</h3>
</div>

