
  <div class="rafflebox">

    <div class="rightbox">

      <div class="raffle-image-box">
        <div class="raffle-image">
          <img src="https://drop.ndtv.com/TECH/product_database/images/913201720152AM_635_iphone_x.jpeg" style="width:350px;height:300px;">
          <div class="raffle-bar">
            <div class="card-bar">
              <div class="card-bar-green">
              </div>
            </div>
          </div>
          </div>
      </div>

        <div class="raffle-info">
          <div class="raffle-info-content">
            <p> Brand: Iphone </p>
            <p> Condition: Brand New </p>
            <p> Description: It is an amazing phone for a great value, dont miss this raffle </p>
          </div>
          <div class="user-avatar">
            <img src="https://www.aptitudesoftware.com/wp-content/uploads/Round-profile-2.png" style="width:70px;height:70px;">
            <p> Handsome Guy </p>
          </div>
        </div>
    </div>


    <div class="leftbox">
      <div class="leftbox-content text-center">
        <h2>Iphone X</h2>
        <h3>12.12.12</h3>
        <div class="btn btn-success">
        </div>
      </div>
    </div>

  </div>

