.ticket-card {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  height: 480px;
  background-color: $gray;
  margin-top: 60px;
}

.image-ticket-card {
  text-align: center;
  position: relative;
  top: 40px;
}

.ticket-number {
  color: $green;
  position: relative;
  top: 30px;
  font-size: 150%;
}

.time-card {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  height: 75px;
  background-color: #585858;
  margin-top: 30px;
  border-radius: 7px;
}



