// Import page-specific CSS files here.
@import "home";
@import "confirmation";
@import "usershow";
@import "raffleshow";
@import "winners";
@import "stripepayment";
@import "browse";
@import "howitworks";

.gray-line {
  width: 85%;
  margin: 30px auto;
  margin-bottom: 10px;
  height: 1.2px;
  background: linear-gradient(to right, white, $light-gray, white);
}

.newsletter-line {
  background-color: $green;
  color: white;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.newsletter-link {
  color: white;
  cursor: pointer;
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

.newsletter-field {
  background-color: $gray;
  color: $light-gray;
  border-color: $light-gray;
  width: 85% !important;
  border-radius: 5px;
  padding: 3px;
  &:focus, &:active {
    outline: none;
  }
}



.newsletter-indic {
  width: 15% !important;
  font-weight: bold;
}

.newsletter-div {
  margin: 30px 15px;
  text-align: left !important;
  display: flex;
  justify-content: center;
  align-content: center;
}
