// Import page-specific CSS files here.
@import "home";
@import "confirmation";
@import "usershow";
@import "raffleshow";
@import "winners";
@import "stripepayment";
@import "browse";

.gray-line {
  width: 85%;
  margin: 30px auto;
  height: 1.2px;
  background: linear-gradient(to right, white, $light-gray, white);
}
