// Import page-specific CSS files here.
@import "home";
@import "confirmation";
@import "usershow";
@import "raffleshow";
@import "winners";
@import "stripepayment";
@import "browse";

.gray-line {
  width: 85%;
  margin: 30px auto;
  margin-bottom: 10px;
  height: 1.2px;
  background: linear-gradient(to right, white, $light-gray, white);
}

.container-how-it-works {
  min-height: calc(110vh - 170px);
  background-color: $green;
  padding: 5px;
  margin-top: -25px;
}

.howworkstitle {
  text-align: center;
  margin-top: 50px;
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.count span {
  display: inline-block;
  height: 150px;
  width: 150px;
  background: $green;
  color: white;
  text-align: center;
  line-height: 140px;
  border-radius: 100%;
  font-size: 60px;
  font-weight: bold;
  font-weight: "Raleway", "Helvetica", "sans-serif";
  border: 6px solid white;
  margin-left: 100px;
  margin-top: 100px;
}

.count {
  margin-top: -20px;
}

