.rafflebox {
  background: #f1f1f1;
  margin-top: 50px;
  width: 100%;
  display: flex;
  height: calc(93vh - 70px);
  width: 100%
}

.btn-box {
  background: white;
  border-radius: 4px;
}

.leftbox {
  flex: 0 0 50%;
  position: relative;
}

.raffle-image-box {
  position: absolute;
  top: 10%;
  left: 20%;
}

// .image-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
// }

.image-item {
  margin: 20px;
}

.raffle-info-content {
  margin-left: 35px;
  padding: 20px;
  span {
    opacity: 0.8;
    font-weight: 100;
  }
}

.rightbox {
  flex: 0 0 50%;
  margin-top: 60px;
  margin-left: 80px;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  span {
    opacity: 1;
    font-weight: 500;
  }
}

.raffle-image {
  height: 400px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border-radius: 4px;
}

.user-avatar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rightbox-content {
  font-size: 26px;
  color: $gray;
}

.btn-buy {
  margin-top: 5px;
  background: white;
  width: 150px;
  height: 70px;
  font: 20px;
  border: 0px solid white;
  font-size: 20px
}
.btn-buy:hover {
   border: 2px solid white;
   transition: border 0.2s ease;
}

.btn-plus-minus {
  color: $green;
  border-radius: 4;
  background-color: white;
  width: 55px;
  height: 45px;
  margin: 5px;
  border: 2px solid white;
  &:hover {
   color: $green;
  }
}

.btn-grow { transition: all .2s ease-in-out; }
.btn-grow:hover { transform: scale(1.25); }

.img-show {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.leftbox-info {
background: white;
flex: 0 0 20%;
}

.infobox {
  background: white;
  width: 100%;
  display: flex;
}

.rightbox-description {
  flex: 0 0 70%;
  margin-top: 60px;
  margin-left: 45px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  span {
    opacity: 1;
    font-weight: 500;
  }
}
