.rafflebox {
  width: 100%;
  display: flex;
}

.leftbox {
  flex: 0 0 50%;
  background-color: $white;
  position: relative;
  margin-top: 105px
}

.raffle-image-box {
  // position: absolute;
  // top: 10%;
  // left: 20%;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-item {
  margin: 20px;
}

.raffle-info {
  color: black;
  padding: 20px;
  span {
    opacity: 0.5;
    font-weight: 100;
  }
}

.rightbox {
  height: 430px;
  margin-top: 105px;
  flex: 0 0 50%;
  // background-color: $gray;
  color: white;
  margin-right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  span {
    opacity: 1;
    font-weight: 300;
  }
}

.raffle-image {
  height: 400px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border-radius: 4px;
}

.user-avatar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rightbox-content {
  font-size: 24px;
}

.btn-buy {
  margin-top: 40px;
  background: $green;
  width: 150px;
  height: 70px;
  border-radius: 50pc;
  font: 20px;
  border: 0px solid white;
  font-size: 20px
  // border: 2px solid white;
}
.btn-buy:hover {
   border: 2px solid white;
   transition: border 0.2s ease;
}

.btn-plus-minus {
  border-radius: 50%;
  background-color: $green;
  width: 40px;
  height: 40px;
  margin: 5px;
  &:hover {
   border: 2px solid white;
  }
}

.btn-grow { transition: all .2s ease-in-out; }
.btn-grow:hover { transform: scale(1.25); }

.img-show {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

