#container-dashboard {
  margin-bottom: 20px;
}

.userflex {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 80vh;
  width: 100%
}

.user-info {
  width: 33%;
  background-color: $gray;
  border-radius: 5px;
  color: white;
  position: relative;
}

.avatar-usershow {
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 30%;
}

.info-text {
  position: absolute;
  top: 40%;
  left: 30%;
}

.edit-user {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 16px;
}

.user-raffles {
  width: 65%;
}

.views {
  height: 8%;
  display: flex;
  justify-content: flex-start;
}

.linka {
  margin-left: 15px;
}

.underviews {
  background-color: $white;
  height: 92%;
  border-top-radius: 5px;
}

.user-avater {
  margin-top: 20px;
}

.titles {
  display: flex;
  width: 100%;
}

.title{
  width: 50%;
  color: white;
}

.green{
  background-color: $green;
  text-align: center;
}

.white {
  background-color: $gray;
  text-align: center;
}

.active {
  display: block;
}

.hidden {
  display: block;
}

.active-link {
  background-color: $green;
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: white;
}

.active-link:hover{
 text-decoration: none;
 box-shadow: 2px 2px 2px #F9F9F9;
 color: white;
}

.active-link:focus{
 text-decoration: none;
 box-shadow: 2px 2px 2px #F9F9F9;
 color: white;
}

.hidden-link {
  background-color: $gray;
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: white;
}

.hidden-link:hover {
 text-decoration: none;
 box-shadow: 2px 2px 2px #F9F9F9;
 color: white;
}

.hidden-link:focus {
 text-decoration: none;
 box-shadow: 2px 2px 2px #F9F9F9;
 color: white;
}

.active2 {
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: $green;
}


#participant {
  margin-top: 2px;
  margin-left: 5px;
  width: 90px;
  padding: 2px;
}

#participant a{
  color: $gray;
}

#participant a:hover{
  text-decoration: none;
  text-shadow: 1px;
}

#organiser {
  margin-top: 2px;
  margin-left: 5px;
  width: 90px;
  padding: 2px;
}

#organiser a{
  color: $gray
}

#organiser a:hover{
  text-decoration: none;
  text-shadow: 1px;
}

.rafflelist {
  height: 30px;
  margin: 0px;
}

a:hover {
  text-decoration: none;
  color: white;
}



