.userflex {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 80vh;
  width: 100%
}

.user-info {
  width: 33%;
  background-color: $gray;
  border-radius: 5px;
  color: white;
}

.user-raffles {
  width: 65%;
  background-color: $white;
  border-radius: 5px;
}

.user-avater {
  margin-top: 20px;
}

.titles {
  display: flex;
  width: 100%;
}

.title{
  width: 50%;
  color: white;
}

.green{
  background-color: $green;
  text-align: left;
  border-top-left-radius: 5px;
}

.gray {
  background-color: $gray;
  text-align: right;
  border-top-right-radius: 5px;
}
