#container-dashboard {
  margin-bottom: 20px;
}

.userflex {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 80vh;
  width: 100%
}

.user-info {
  width: 33%;
  background-color: $gray;
  border-radius: 5px;
  color: white;
  position: relative;
}

.avatar-usershow {
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 30%;
}

.info-text {
  position: absolute;
  top: 40%;
  left: 30%;
}

.edit-user {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 16px;
}

.user-raffles {
  width: 65%;
}

.views {
  height: 8%;
  display: flex;
  justify-content: flex-start;
}

.linka {
  margin-left: 15px;
}

.underviews {
  border-radius: 5px;
  background-color: $white;
  height: 92%;
}

.user-avater {
  margin-top: 20px;
}

.titles {
  display: flex;
  width: 100%;
}

.title{
  width: 50%;
  color: white;
}

.green{
  background-color: $green;
  text-align: center;
  border-top-left-radius: 5px;
}

.gray {
  background-color: $gray;
  text-align: center;
  border-top-right-radius: 5px;
}



.active {
  display: block;
}

.hidden {
  display: none;
}

.active-link {
  color: red;
}



