.fullbox {
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: space-between;
}

.halfboxleft {
  width: 50%;
  background-color: rgba(56,55,55,0.9);
  position: relative;
}

.children {
  position: absolute;
  top: 30%;
  left: 10%;
}

.halfboxleft p {
  color: $green;
  font-size: 36px;
}

.halfboxright {
  width: 50%;
}

.raffleform {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: left;
}


