<div class="container">
  <div class="userflex">
    <div class="user-info text-center">
      <img class="user-avater" src="http://www.rickeliason.com/wp-content/uploads/2012/08/rick-eliason.png" alt="Profile" style="width:150px;height:150px;">
      <div class="info-text text-center">
        <h3> CHRIS MARTIN </h3>
        <p> LONDON, UK</p>
      </div>
    </div>
    <div class="user-raffles">
      <div class="titles">
        <div class="title green">
          <p>Pending Raffles</p>
        </div>
        <div class="title gray">
          <p>Past Raffles</p>
        </div>
      </div>

    </div>
  </div>
</div>
