<div class="banner" style="background-image: linear-gradient(-225deg, rgba(105,104,105,0.6) 0%, rgba(105,104,105,0.6) 50%), url('http://cdn.tomclaeren.com/images/ferrari-private-jet-tom-claeren-louis-vuitton-style_pd2161_907.jpg');">
  <div class="banner-content">
    <h1>Raffler</h1>
     <span id="typed-overlay">
        <div id="type">
          <span id="typed"></span>
          <p> Win your dream
          <span id="banner-typed-text"></span>
</p>
        </div>
      </span>
    <a href= browse class="btn btn-success btn-lg">View all raffles</a>
  </div>
</div>



<%= content_for(:after_js) do %>
  <script>
    loadDynamicBannerText();
  </script>
<% end %>
