<div class="container">
    <div class="row">
     <% @raffles.each do |r| %>
      <div class="col-xs-6 col-sm-3">
        <div class="card grow">
          <div class="image">
            <%= cl_image_tag r.photo, class: "img-show", crop: :fill, style: "width: 260px; height: 175px;" %>
          </div>
          <div class="card-bar">
            <div class="card-bar-green">
            </div>
          </div>
          <div class="card-info">
            <div class="info raffle-name">
            <p> <%= r.model %> </p>
            </div>
            <div class="timer btn">
              <p> <%= r.end_date %> </p>
            </div>
          </div>
        <%= link_to "", raffle_path(r), class: "card-link"%>
        </div>
      </div>
     <% end %>
    </div>
</div>

