<div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="card">
          <div class="image">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71q8LBGT7jL._SL1500_.jpg" alt="Apple Computer" style="width:260px;height:175px;" class="text-center">
          </div>
          <div class="card-bar">
            <div class="card-bar-green">
            </div>
          </div>
          <div class="card-info">
            <div class="info raffle-name">
            <p> Apple Macbook </p>
            </div>
            <div class="info btn btn-success">
              <p>12.23.45</p>
            </div>
          </div>
        <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
</div>
