<div class="footer">
  <div class="footer-left">
    <div><a href="#" class="footer-left-element">Contact us</a></div>
    <div><a href="#" class="footer-left-element">How does Rafflrs work?</a></div>
    <div><a href="#" class="footer-left-element">FAQs</a></div>
    <div><a href="#" class="footer-left-element">Terms of Play</a></div>
  </div>
  <div class="footer-right">
    <div class="footer-links">
      <a href="https://www.instagram.com/rafflrs"><i class="fa fa-instagram footer-grow"></i></a>
      <a href="https://www.facebook.com"><i class="fa fa-facebook footer-grow"></i></a>
      <a href="https://www.twitter.com/rafflrs"><i class="fa fa-twitter footer-grow"></i></a>
    </div>
    <div class="footer-right-input">
      <div class="footer-text">
        Sign up to Rafflrs mailing list
      </div>
        <input type="text" class="footer-email-field" placeholder="Email">
    </div>
  </div>
</div>
  <div class="footer-center">
    <footer>&copy; Copyright 2018 Rafflrs.com</footer>
  </div>
