<div class="container-how-it-works">
  <h1 class="howworkstitle">How does Rafflrs work?</h1>
  <div class="index-steps">
    <div class="nth-step">
      <div class="step-count">
        <span>1</span>
      </div>
      <h3 class="step-text">Sign Up</h3>
    </div>
    <div class="nth-step">
      <div class="step-count">
        <span>2</span>
      </div>
      <h3 class="step-text">Find your dream product</h3>
    </div>
    <div class="nth-step">
      <div class="step-count">
        <span>3</span>
      </div>
      <h3 class="step-text">Buy a ticket for only £1</h3>
    </div>
    <div class="nth-step">
      <div class="step-count">
        <span>4</span>
      </div>
      <h3 class="step-text">You can be the lucky winner!</h3>
    </div>
  </div>
</div>
