<div class="container-fluid">
  <div class="form-flex">
    <%= simple_form_for [@raffle, @order] do |f| %>
    <input type="button" onclick="decrementValue()" value="-" class="btn-plus-minus" />
    <%= f.submit id: "number", value: "0", class: "btn-buy"  %>
    <input type="button" onclick="incrementValue()" value="+" class="btn-plus-minus" />
    <%= f.hidden_field :quantity %>
    <% end %>
  </div>
</div>

<script>
  function incrementValue()
  {
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    document.getElementById('number').value = value;
}

  function decrementValue()
  {
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 0 : value;
    value--;
    document.getElementById('number').value = value;
}

</script>






