
  <div class="form-flex">
    <div class="btn-box">
      <% if @raffle.user == current_user %>
        <p>You are the owner of this Raffle</p>
      <% else %>
        <%= simple_form_for [@raffle, @order] do |f| %>
          <input type="button" onclick="decrementValue()" value="-" class="btn-plus-minus" />
          <%= f.submit id: "number", value: "1 ticket", class: "btn-buy"  %>
          <input type="button" onclick="incrementValue()" value="+" class="btn-plus-minus" />
          <%= f.hidden_field :quantity, id: "quantity-value", value: 1 %>
        <% end %>
      <% end %>

    </div>
  </div>


<script>
  var value = parseInt(document.getElementById('number').value, 10);
  console.log(value)
  function incrementValue()
  {
    const hiddenQuantityField = document.getElementById("quantity-value")
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    hiddenQuantityField.value = value
    text = value > 1 ? " tickets" : " ticket"
    document.getElementById('number').value = value + text;
}

  function decrementValue()
  {
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 0 : value;
    if (value > 1) {
      const hiddenQuantityField = document.getElementById("quantity-value")
      value--;
      hiddenQuantityField.value = value
      text = value > 1 ? " tickets" : " ticket"
      document.getElementById('number').value = value + text;
    }
}

</script>






