<div class="container">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-2">
      <%= simple_form_for [@raffle, @order] do |f| %>
      <%= f.input :quantity %>
      <%= f.submit " 1 ticket", class: "btn-buy" %>
      <% end %>
    </div>
  </div>
</div>
