<div class="ticket-card">
  <div class="image-ticket-card">
     <img src="/assets/ticket.png" alt="Ticket" style="width: 280px;">
      <div class="ticket-number">
        <p><strong>Your ticket number is :</strong>
          <br># 123456789123
        </p>
        <div class="time-card">
          <p><strong style="line-height: 3;">2 days - 3 hours - 24 mins - 14 seconds</strong></p>
        </div>
      </div>
  </div>
</div>

