.card-bar {
  height: 10px;
  width: 400px;
  background-color: white;
  margin: 15px 0px;
  border-radius: 3px;
  border: 0.5px solid #e8e8e8;
}


.card-bar-green {
  border-radius: 3px;
  height: 8px;
  width: 70%;
  background-color: $green;
}
