.card-bar {
  height: 4px;
  width: 80%;
  background-color: $gray;
  margin: 15px 15px;
  border-radius: 3px;
}

.card-bar-green {
  border-radius: 3px;
  height: 4px;
  width: 70%;
  background-color: $green;
}
