.card {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  text-shadow: 0 0px 0px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card3 {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 180px;
  text-shadow: 0 0px 0px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.form-flex {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.img-avatar {
  border-radius: 50%;
}

#winner-image-box {
  display: flex;
}

#winner-image {
  position: relative;
  z-index: -1;
}

.image-text {
  position: absolute;
  z-index: 1;
  background-color: $green;
  right: 8px;
  bottom: 70px;
  border-radius: 5px;
  padding: 2px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

// .card-link:hover {
//   opacity: 0.1;
// }

.card-info {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.info {
  color: $gray;
  text-shadow: none;
  margin-left: 5px;
  margin-right: 5px;
}

.info p {
  margin-bottom: 0px;
}
.timer {
  color: white;
  text-shadow: none;
  margin-left: 5px;
  margin-right: 5px;

}

.timer p {
  margin-bottom: 0px;
}

.btn {
 background: $green
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.08); }
