// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.container-all-pages {
  min-height: calc(100vh - 170px);
}

form abbr[title] {
  border-bottom: none !important;
  text-decoration: none !important;
}
